<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Begin at:</strong>
    <%= project.begin_at %>
  </p>

  <p>
    <strong>Final at:</strong>
    <%= project.final_at %>
  </p>

  <p>
    <strong>Estate:</strong>
    <%= project.estate %>
  </p>

</div>
